#root,
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#root,
arcgis-map {
  /* height: 49%; */
  width: 100%;
}

#header-title {
  padding-left: 10px;
  padding-right: 10px;
}

.esri-popup__main-container {
  width: 500px;
}

calcite-shell-panel {
  --calcite-shell-panel-width: 500px;
}

#results {
  padding: 10px;
  background-color: white;
  font-size: 18pt;
  font-weight: 400;
  /* width: 250px; */
  display: flex;
  /* flex-direction: #{column; */
  justify-content: space-between;
}

.custom-content {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  width: 25rem;
  text-align: center;
  padding: 0 1rem;
}

.custom-content calcite-button {
  margin: 1rem auto 0;
}

.custom-content calcite-chip {
  margin: 2rem auto;
}

.examples {
  width: 200px;
  padding-bottom: 5px;
  align-self: center;
}

.legend {
  width: 100%;
  align-self: center;
}

.slider-container {
  padding: 10px;
}

calcite-label {
  padding-left: 10px;
  padding-top: 10px;
}

.legendElement {
  display: grid;
  place-items: center;
}

#ak-view {
  height: 250px;
  width: 300px;
}

#hi-view {
  height: 200px;
  width: 300px;
}

.inset-views {
  background-color: white;
  padding: 5px;
  border: 1px solid black;
}
