#root,
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#root,
arcgis-map {
  /* height: 49%; */
  width: 100%;
}

#header-title {
  padding-left: 10px;
  padding-right: 10px;
}

.esri-popup__main-container {
  width: 500px;
}

calcite-shell-panel {
  --calcite-shell-panel-width: 500px;
}

#results {
  padding: 10px;
  background-color: white;
  font-size: 18pt;
  font-weight: 400;
  /* width: 250px; */
  display: flex;
  /* flex-direction: #{column; */
  justify-content: space-between;
}

#current-year {
  text-align: center;
  font-size: 18pt;
}

#dem-results {
  color: rgba(60, 108, 204, 1);
  display: flex;
  justify-content: space-evenly;
}

#rep-results {
  color: rgba(220, 75, 0, 1);
  display: flex;
  justify-content: space-evenly;
}

#dem-candidate {
  margin-right: 0.3em;
}

#rep-candidate {
  margin-right: 0.3em;
}

table td {
  padding: 3px;
}

table.popup td.num {
  text-align: right;
}

table.popup tr.head {
  text-align: center;
  font-weight: bold;
  /* background-color:rgba(50, 50, 50,0.08); */
}

.dem {
  background-color: rgba(60, 108, 204, 0.08);
}

.rep {
  background-color: rgba(220, 75, 0, 0.08);
}

.oth {
  background-color: rgba(224, 206, 0, 0.08);
}

.table-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

table {
  margin: 0 auto;
}

.custom-content {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  width: 25rem;
  text-align: center;
  padding: 0 1rem;
}

.custom-content calcite-button {
  margin: 1rem auto 0;
}

.custom-content calcite-chip {
  margin: 2rem auto;
}

.examples {
  width: 200px;
  padding-bottom: 5px;
  align-self: center;
}

.legend {
  width: 100%;
  align-self: center;
}

.slider-container {
  padding: 10px;
}

calcite-label {
  padding-left: 10px;
  padding-top: 10px;
}
